<mat-card class="card mat-elevation-z4">
    <mat-card-title>Deletar aluno</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="aluno.firstName" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sobrenome" [value]="aluno.lastName" name="lastname" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Código" [value]="aluno.code" name="code" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" [value]="aluno.email" name="email" disabled>
        </mat-form-field>

    </form>


    <button mat-raised-button (click)="deleteAluno()" color="warn">
        Deletar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>