<mat-card class="card mat-elevation-z4">
    <mat-card-title>Alterar dados do aluno</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="aluno.firstName" name="firstName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sobrenome" [(ngModel)]="aluno.lastName" name="lastName">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cpf" [(ngModel)]="aluno.cpf" name="cpf" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Código" [(ngModel)]="aluno.code" name="code">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-mail" [(ngModel)]="aluno.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Senha" [(ngModel)]="aluno.password" name="password">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="updateAluno()" color="primary">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>

