<form [formGroup]="tccForm">
    <mat-form-field>
      <mat-label>Nome do Trabalho: </mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field><br/>
    <mat-form-field>
      <mat-label>Tema: </mat-label>
      <input matInput type="text" formControlName="subjects">
    </mat-form-field><br/>
    <!--- Auto complete-->
    <mat-form-field appearance="fill">
      <mat-label>Alunos</mat-label>
      <mat-select formControlName="studants" multiple>
        <mat-option *ngFor="let studant of studants" [value]="studant.id">{{studant.code}} {{studant.firstName}}</mat-option>
      </mat-select>
    </mat-form-field>
<br />
    <button mat-raised-button (click)="createTCC()">
      Criar
  </button>
</form>
