<ng-container *ngIf="tcc">
  <ng-container *ngIf="tcc.files">
    <h2>Arquivos</h2>
    <ng-container *ngIf="tcc.files.length > 0 else noFile">

      <mat-selection-list  [multiple]="false">
        <mat-list-option *ngFor="let file of tcc.files" [value]="file"  class="file">
          <a href="{{file.url}}">
          <h3>
            <i class="material-icons">
            article
            </i>
            {{file.tccName}}
        </h3>
        <p>Data de criação: {{file.lastModified}}</p>
      </a>
        </mat-list-option>
      </mat-selection-list>

    </ng-container>
    <ng-template #noFile>
      <h1>Não existe arquivos</h1>
    </ng-template>

    <label for="singleFile">Upload file</label>
    <input id="singleFile" type="file" />
    <br>


  </ng-container>


  <ng-container *ngIf="tcc.studants">
    <h2>Alunos</h2>
    <ng-container>

      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option *ngFor="let studant of tcc.studants" [value]="studant" [routerLink]="[]">
          {{studant.firstName}}
        </mat-list-option>
      </mat-selection-list>

    </ng-container>
  </ng-container>
</ng-container>
