<!-- <mat-card class="card mat-elevation-z4">
    <mat-card-title>Deletar professor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="professor.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Sobrenome" [value]="professor.lastname" name="lastname" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cpf" [value]="professor.cpf" name="cpf" disabled>
        </mat-form-field>

    </form>


    <button mat-raised-button (click)="deleteProfessor()" color="warn">
        Deletar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card> -->
