<!-- 
 -->


<div class="login-form-flex">
  <mat-card class="card mat-elevation-z4">
    <mat-card-title>Entrar</mat-card-title>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
  
      <mat-form-field>
        <label>E-mail</label>
        <input matInput class="form-control" type="email" name="email" id="email" [(ngModel)]="login.email" required />
      </mat-form-field>
  
      <mat-form-field>
        <label>Senha</label>
        <input matInput class="form-control" type="password" name="password" id="password" [(ngModel)]="login.password" required />
      </mat-form-field>
  
     
      <button mat-raised-button type="submit" class="btn btn-primary btn-block" [disabled]="form.form.invalid">Entrar</button>
      
    </form>
  
  
  
  </mat-card>
</div>


