<app-header></app-header>
<app-nav></app-nav>

<!--<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Teste de card</mat-card-title>
    <mat-card-subtitle>Trabalho do aluno {{aluno}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      Trabalho para a conclusão de curso de Automação.
      O trabalho consiste em desenvolver um Kart eletrico movido a baterias de 12V.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>
      <i class="material-icons">
        favorite
      </i>
    </button>
    <button mat-button>
      <i class="material-icons">
        share
      </i>
    </button>
  </mat-card-actions>
</mat-card>-->

<app-footer></app-footer>